<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ProductMapper">

    <resultMap type="Product" id="ProductResult">
        <result property="id" column="id"/>
        <result property="prodCode" column="prod_code"/>
        <result property="prodAttr" column="prod_attr"/>
        <result property="prodType" column="prod_type"/>
        <result property="prodName" column="prod_name"/>
        <result property="prodBrand" column="prod_brand"/>
        <result property="prodSpecs" column="prod_specs"/>
        <result property="prodUnit" column="prod_unit"/>
        <result property="costPrice" column="cost_price"/>
        <result property="vatRate" column="vat_rate"/>
        <result property="inclTaxPrice" column="incl_tax_price"/>
        <result property="exclTaxPrice" column="excl_tax_price"/>
        <result property="taxAmount" column="tax_amount"/>
        <result property="grossProfit" column="gross_profit"/>
        <result property="prodPerm" column="prod_perm"/>
        <result property="prodImg" column="prod_img"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

    <sql id="selectProductVo">
        select id,
               prod_code,
               prod_attr,
               prod_type,
               prod_name,
               prod_brand,
               prod_specs,
               prod_unit,
               cost_price,
               vat_rate,
               incl_tax_price,
               excl_tax_price,
               tax_amount,
               gross_profit,
               prod_perm,
               prod_img,
               gmt_create,
               gmt_modified
        from product
    </sql>

    <select id="selectProductList" parameterType="Product" resultMap="ProductResult">
        <include refid="selectProductVo"/>
        <where>
            <if test="prodCode != null  and prodCode != ''">and prod_code like concat('%', #{prodCode}, '%')</if>
            <if test="prodAttr != null ">and prod_attr = #{prodAttr}</if>
            <if test="prodType != null ">and prod_type = #{prodType}</if>
            <if test="prodName != null  and prodName != ''">and prod_name like concat('%', #{prodName}, '%')</if>
            <if test="prodBrand != null ">and prod_brand = #{prodBrand}</if>
            <if test="prodSpecs != null  and prodSpecs != ''">and prod_specs like concat('%', #{prodSpecs}, '%')</if>
            <if test="prodPerm != null ">and prod_perm = #{prodPerm}</if>
            <if test="params.beginGmtCreate != null and params.beginGmtCreate != '' and params.endGmtCreate != null and params.endGmtCreate != ''">
                and gmt_create between #{params.beginGmtCreate} and #{params.endGmtCreate}
            </if>
            <if test="params.beginGmtModified != null and params.beginGmtModified != '' and params.endGmtModified != null and params.endGmtModified != ''">
                and gmt_modified between #{params.beginGmtModified} and #{params.endGmtModified}
            </if>
        </where>
    </select>

    <select id="selectProductById" parameterType="Long" resultMap="ProductResult">
        <include refid="selectProductVo"/>
        where id = #{id}
    </select>

    <insert id="insertProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="id">
        insert into product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="prodCode != null">prod_code,</if>
            <if test="prodAttr != null">prod_attr,</if>
            <if test="prodType != null">prod_type,</if>
            <if test="prodName != null and prodName != ''">prod_name,</if>
            <if test="prodBrand != null">prod_brand,</if>
            <if test="prodSpecs != null and prodSpecs != ''">prod_specs,</if>
            <if test="prodUnit != null">prod_unit,</if>
            <if test="costPrice != null">cost_price,</if>
            <if test="vatRate != null">vat_rate,</if>
            <if test="inclTaxPrice != null">incl_tax_price,</if>
            <if test="exclTaxPrice != null">excl_tax_price,</if>
            <if test="taxAmount != null">tax_amount,</if>
            <if test="grossProfit != null">gross_profit,</if>
            <if test="prodPerm != null">prod_perm,</if>
            <if test="prodImg != null">prod_img,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="prodCode != null">#{prodCode},</if>
            <if test="prodAttr != null">#{prodAttr},</if>
            <if test="prodType != null">#{prodType},</if>
            <if test="prodName != null and prodName != ''">#{prodName},</if>
            <if test="prodBrand != null">#{prodBrand},</if>
            <if test="prodSpecs != null and prodSpecs != ''">#{prodSpecs},</if>
            <if test="prodUnit != null">#{prodUnit},</if>
            <if test="costPrice != null">#{costPrice},</if>
            <if test="vatRate != null">#{vatRate},</if>
            <if test="inclTaxPrice != null">#{inclTaxPrice},</if>
            <if test="exclTaxPrice != null">#{exclTaxPrice},</if>
            <if test="taxAmount != null">#{taxAmount},</if>
            <if test="grossProfit != null">#{grossProfit},</if>
            <if test="prodPerm != null">#{prodPerm},</if>
            <if test="prodImg != null">#{prodImg},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
        </trim>
    </insert>

    <update id="updateProduct" parameterType="Product">
        update product
        <trim prefix="SET" suffixOverrides=",">
            <if test="prodCode != null">prod_code = #{prodCode},</if>
            <if test="prodAttr != null">prod_attr = #{prodAttr},</if>
            <if test="prodType != null">prod_type = #{prodType},</if>
            <if test="prodName != null and prodName != ''">prod_name = #{prodName},</if>
            <if test="prodBrand != null">prod_brand = #{prodBrand},</if>
            <if test="prodSpecs != null and prodSpecs != ''">prod_specs = #{prodSpecs},</if>
            <if test="prodUnit != null">prod_unit = #{prodUnit},</if>
            <if test="costPrice != null">cost_price = #{costPrice},</if>
            <if test="vatRate != null">vat_rate = #{vatRate},</if>
            <if test="inclTaxPrice != null">incl_tax_price = #{inclTaxPrice},</if>
            <if test="exclTaxPrice != null">excl_tax_price = #{exclTaxPrice},</if>
            <if test="taxAmount != null">tax_amount = #{taxAmount},</if>
            <if test="grossProfit != null">gross_profit = #{grossProfit},</if>
            <if test="prodPerm != null">prod_perm = #{prodPerm},</if>
            <if test="prodImg != null">prod_img = #{prodImg},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProductById" parameterType="Long">
        delete
        from product
        where id = #{id}
    </delete>

    <delete id="deleteProductByIds" parameterType="String">
        delete from product where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>